html {
  scroll-behavior: smooth;
}

.button-link {
  border: 2px solid #333;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: #EDC068;
  color: black;
}

.lf-logo {
  position: relative;
  top: 20px;
}

.deco-brass {
  color: #EDC068; 
}
