html {
  scroll-behavior: smooth;
}


/* Header CSS */


.lf-logo {
  position: relative;
  top: 20px;
}

.button-link {
  font-size: 15px;
  border: 6.7px solid #171616;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: #EDC068;
  color: #171616;
  transition: 0.3s;
}

.headerdiv {
  position: relative;
  height: 20px;
  background-color: #171616;
  border: 3px solid #EDC068;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 50px 0px;
}

/* Button Hover Effect */

.button-link:hover {
  background-color: #171616;
  color: #EDC068;
  border: 3px solid #EDC068;
  transition-delay: 0.1s; 
}

/* Top Bar */
.topbar {
 z-index: 1;
 position: fixed;
 align-items: center;
 justify-content: center;
 height: 30px;
 width: 98.5%;
 background-color: #450000; 
 padding: 1px 0 3px 3px;
 border-radius: 3px;
}


/* 3 Bar Menu */
.nav {
  margin: 0 0 0 0em;
  width: 30px;
  display: block;
  div {
  transition: 0.3s;
  height: 4px;
  background-color: #ffffff;
  margin: 5px 0;
  border-radius: 25px; }
  .one {
    width: 100%;}
  .two {
    width: 66%;}
  .three {
    width: 75%;}
  }

.nav:hover div{
  width: 100%;
}





/* Design Elemts */
.deco-brass {
  color: #EDC068; 
}


  

