html {
  scroll-behavior: smooth;
}


/* Header CSS */


.lf-logo {
  position: relative;
  top: 40px;
}

.button-link {
  font-size: 15px;
  border: 6.7px solid #171616;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: #EDC068;
  color: #171616;
  transition: 0.3s;
}

.headerdiv {
  position: relative;
  height: 20px;
  background-color: #171616;
  border: 3px solid #EDC068;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 50px 0px;
}

/* Button Hover Effect */

.button-link:hover {
  background-color: #171616;
  color: #EDC068;
  border: 3px solid #EDC068;
  transition-delay: 0.1s; 
}

 /* Off Screen Menu */
 .off-screen-menu {
  z-index: 2;
  background-color: rgb(23, 22, 22);
  height: 100vh;
  width: 100%;
  max-width: 0.25vw;
  position: fixed;
  top: 0;
  left: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  a {
    color: white;
    font-size: 1.5rem;
  }
  ul {
  margin: 20px 20px 20px 20px;
  list-style-type: none;
}
 }
.off-screen-menu.active {
  left: 0;
}

/* Nav Menu */
.topbar {
  z-index: 1;
  padding: 0.5rem;
  display: flex;
  border-radius: 5px;
  transition: 0.3s;
}

/* Hamburger Menu */

.ham-menu {
  z-index: 2;
  height: 50px;
  width: 50px;
  margin-right: auto;
  position: relative;
  transition: 0.3s ease-in-out;
  div{
  transition: 0.5s;
  position: relative;
  top: 7px;
  height: 5px;
  width: 100%;
  background-color: #ffffff;
  margin: 0 0 10px 0;
  border-radius: 5px;}
  .one{width: 80%;}
  .two{width: 60%;}
  .three{width: 70%;}
}

.ham-menu:hover {
  rotate: 45deg;
  div{
  background-color: #EDC068;
  }
  .one{width: 100%;}
  .two{width: 100%;}
  .three{width: 100%;}
  }

.ham-menu.active {
  position: fixed;
  rotate: 45deg;
  div{
  background-color: #ffffff;
  }
  .one{width: 100%;}
  .two{width: 100%;}
  .three{width: 100%;}
}

.ham-menu.active:hover {
  div{
  background-color: #EDC068;
  }
  .one{width: 100%;}
  .two{width: 100%;}
  .three{width: 100%;}}


/* Design Elemts */
.deco-brass {
  color: #EDC068; 
}


  

