html {
  scroll-behavior: smooth;
}


/* Header CSS */


.lf-logo {
  position: relative;
  top: 40px;
}

.button-link {
  font-size: 15px;
  border: 6.7px solid #171616;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: #EDC068;
  color: #171616;
  transition: 0.3s;
}

.headerdiv {
  position: relative;
  height: 20px;
  background-color: #171616;
  border: 3px solid #EDC068;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 50px 0px;
}

/* Button Hover Effect */

.button-link:hover {
  background-color: #171616;
  color: #EDC068;
  border: 3px solid #EDC068;
  transition-delay: 0.1s; 
}

 /* Off Screen Menu */
.off-screen-menu {
  z-index: 2;
  background-color: rgb(23, 22, 22);
  border-right:  3px solid #EDC068;
  height: 100vh;
  width: 350px; /* Or 100vw for full screen */
  max-width: 100vw;
  position: fixed;
  top: 0;
  left: -350px;  /* Move off-screen by its width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: left 0.3s ease-in-out;
  padding: 40px 20px;
  box-sizing: border-box;
  text-align: center;
}
.off-screen-menu.active {
  left: 0;
}
.off-screen-menu a {
  color: white;
  font-size: 1.5rem;
  margin: 10px 0;
  text-decoration: none;
  display: block;
}
.off-screen-menu ul {
  transition: 0.3s;
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  text-align: center;
}

.off-screen-menu li a {
  transition: 0.3s;
}
.off-screen-menu li a:hover {
  transition: 0.3s;
  margin-bottom: 5px;
  border: #EDC068 2px solid;
  border-radius: 10px;
  padding: 5px;
}


/* Hamburger Menu */

.ham-menu {
  z-index: 2;
  height: 50px;
  width: 50px;
  margin: 0.5em 0 0 0.5em;
  position: fixed;
  display: block;
  transition: 0.3s ease-in-out;
  div{
  transition: 0.5s;
  position: relative;
  top: 7px;
  height: 5px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  margin: 0 0 10px 0;
  border-radius: 5px;}
  .one{width: 80%;}
  .two{width: 60%;}
  .three{width: 70%;}
}

.ham-menu:hover {
  rotate: 45deg;
  div{
  background-color: rgba(255, 255, 255, 1);
  }
  .one{width: 100%;}
  .two{width: 100%;}
  .three{width: 100%;}
  }

.ham-menu.active {
  rotate: 0deg;
  div{
  background-color: rgba(237, 192, 104, 0.25);
  }
}

.ham-menu.active:hover {
  div{
  background-color: rgba(237, 192, 104, 1);
  }
  .one{width: 100%;}
  .two{width: 100%;}
  .three{width: 100%;}}


/* Design Elemts */
.deco-brass {
  color: #EDC068; 
}