/* Welcome to CSS! */

:root {
  --background: #151515;
  --background-a1: #171717; 
  --background-a2: #232323;
  --ac1: #2C666E;
  --ac2: #7EA8BE;
  --textl: #ffffff;
  --textd: #000000;
  --text: #ffffff;
  --background-a1-semi: rgba(23, 23, 23, 0.75);
}


.dark-mode {
  --background: #ffffff;
  --background-a1: #e4e5f1;
  --background-a2: #d2d3db;
  --ac2: #07393C;
  --text: #000000;
}


/* Custom Fonts */

@font-face { 
  font-family: 'Kanit';
  src: url(../assets/fonts/Kanit-Regular.ttf);
}

@font-face {
  font-family: 'Bitcount';
  src: url(../assets/fonts/BBHHegarty-Regular.ttf);
}

/* CSS Overalls */

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  background: var(--background);
}

body {
  margin: 0;
  height: 100%;
  background: var(--background);
  transition: 0.3s;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}
  /* Nav Menu */

nav {
  z-index: 1;
  position: fixed;
  display: flex;
  transition: 0.3s;
  background: var(--background-a1);
  padding: 1rem 0 1em 0;
  width: 100vw;
  height: 3vh;
  border-bottom: var(--background-a2) solid 5px;
}

.switch {
  z-index: 1;
  margin: 0 0 0 0.5em;
}

  /* Hamburger Menu */

.ham-menu {
  display: block;
  margin: 0 0 0 1em;
  z-index: 999;
  position: relative;
  transition: 0.2s;
}

.ham-menu div {
  height: 3px;
  background-color: #ffffff;
  width: 2em;
  margin: 0 0 5px 0;
  border-radius: 20px;
  transition: 0.3s;
}

.ham-menu:hover div{
  background-color: #7EA8BE;
}

.ham-menu:hover {
  scale: 1.1;
  rotate: 45deg;
}

/* Off Screen Menu */

.off-screen-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -340px;
  text-align: center;
  width: 265px;
  height: 100vh;
  background-color: var(--background-a1-semi);
  transition: 0.3s ease;
  border-right: var(--background-a2) solid 5px;
}

.off-screen-menu .items-list-ham {
  list-style: none;
  padding: 2em;
  margin: 2em 0 0 0;
}

.off-screen-menu .items-list-ham li {
  margin: 5px 0 0;
  font-size: 1.2em;
  transition: 0.1s;
  a {
  color: var(--textl); 
  text-decoration: none;
  transition: 0.1s;
}
}


.off-screen-menu .items-list-ham li:hover {
  border: var(--ac2) solid 2px;
  border-radius: 5px;
  padding: 1px 0.5em 1px 0.5em;
  a{
    font-weight: bold;
    color: #7EA8BE;
  }
}

.off-screen-menu.active {
  left: 0px;
}


/* Text Styles */

h1, h2, h3 {
  font-family: "Bitcount";
  letter-spacing: 1px;
  transition: 0.3s;
}

p, li {
  font-family: "Kanit";
  transition: 0.1s;
}

@media screen and (min-width: 768px) {
  h1 { font-size: 5em;  letter-spacing: 20px; }
  h2 { font-size: 3em; }
  h3 { font-size: 2.5em; letter-spacing: 1px;}
  p { font-size: 1.2em;}
  .border p { padding: 0.75em;}
  nav li a { font-size: 1.5em; }
  .abt-us li, p { font-size: 1.3em; }
}
 


@media screen and (max-width: 768px) {
  h1 { font-size: 3em; letter-spacing: 10px;}
  h2 { font-size: 1.75em; }
  h3 { font-size: 1.5em; letter-spacing: 0.5px;}
  p { font-size: 0.8em;}
  .border p { padding: 0.7em;}
  nav li a { font-size: 1.1em;}
  .abt-us li, p { font-size: 1em; }
  }

h1,h2,h3 {
  margin: 0 0 0 0;
}

/* Breakers */


.breaker hr {
  border: var(--ac2) solid 2px;
  margin: 2em 0 2em 0;
}

.breaker .int {
  height: 4em;
  background-image: url('../assets/main/backgroundmountain.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* Hero */

.hero {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
  color: var(--textl);
  background-image: url('../assets/main/backgroundmountain.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero .title {
  padding: 2em 0 2em 0;
}

.hero .border {
  display: flex;
  height: 2em;
  width: 100;
  border: #7EA8BE solid 3px;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0 1.5em 0;
}

.hero .border p {
  background: #151515;
  border: #7EA8BE solid 3px;
}

.hero .links {
  margin: 2em 0 0.5em 0;
  height: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #7EA8BE solid 3px;
  background-color: #151515;
}

.hero .links .b {
  font-family: 'Bitcount';
  background-color: #7EA8BE;
  border: #151515 solid 3px;
  padding: 0.5em;
  margin: 0.5em;
  transition: 0.3s;
}

.hero .links .b:hover {
  background-color: #151515;
  border: #7EA8BE solid 3px;
}

.hero .links .b a {
  text-decoration: none;
  color: var(--textl);
  transition: 0.3s;
}

.hero .links .b a:hover {
  color: #7EA8BE;
}

/* About us */

.abt-us {
  justify-content: center;
  align-items: center;
  color: var(--text);
  margin: 0 1em 0 1em;
}

.abt-us-header {
  border: var(--ac2) solid 3px;
  height: 2em;
  display: flex;
  justify-content: left;
  align-items: center;
}

.abt-us-heading {
  background: var(--background);
  position: relative;
  left: -10px;
  padding: 5px;
  border-right: var(--ac2) solid 3px;
  transition: 0.3s;
}



.abt-us h1, .abt-us h2 {
  letter-spacing: 2px;
}

.abt-us-right img {
  width: 75%;
}
