/* Welcome to CSS! */

:root {
  --background: #212121;
  --ac1: #3b6064;
  --ac2: #9f2042;
  --contrast-text: #ffffff;
}


html {
  scroll-behavior: smooth;
  background: var(--background);
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  background: var(--background);
  transition: 0.3s;
}

/* body.dark-mode {
  --background: #212121;
  --background-op: #f8f5ec;
  --ac-cont: #03b5aa;
  --contrast-text: #ffffff;
  --h1: bold max(36px, 4vw) / max(48px, 5vw) var(--ff);
  --ff: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

nav {
  transition: 0.3s;
  background: var(--background-op);
  padding: 1rem 2rem;
  width: 100%;
  height: 3vh;
  border-bottom: var(--ac1) solid 5px;
}


h1, h2, h3 {
  font-family: "BBH-Hegartly";
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  h1 { font-size: 3em; }
  h2 { font-size: 2em; }
  h3 { font-size: 1.5em;}
  p { font-size: 1.2em;}
  }


.hero, .hero-image {
  display: flex;
  margin: 2em 0 0 0;
  color: var(--contrast-text);
}

.hero {
  width: 50vw;
}


h1,h2,h3 {
  margin: 0;
}

