/* Welcome to CSS! */

:root {
  --background: #212121;
  --ac1: #3b6064;
  --ac2: #9f2042;
  --contrast-text: #ffffff;
}

/* Custom Fonts */

@font-face {
  font-family: 'Kanit';
  src: url(../assets/fonts/Kanit-Regular.ttf);
}

@font-face {
  font-family: 'Bitcount';
  src: url(../assets/fonts/BBHHegarty-Regular.ttf);
}

/* CSS Overalls */

html {
  scroll-behavior: smooth;
  background: var(--background);
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  background: var(--background);
  transition: 0.3s;
}

/* body.dark-mode {
  --background: #212121;
  --background-op: #f8f5ec;
  --ac-cont: #03b5aa;
  --contrast-text: #ffffff;

} */

  /* Nav Menu */

nav {
  transition: 0.3s;
  background: #161616;
  padding: 1rem 0 1em 0;
  width: 100vw;
  height: 3vh;
  border-bottom: #363636 solid 5px;
}

.switch {
  margin: 0 0 0 0.5em;
}


h1, h2, h3 {
  font-family: "Bitcount";
  letter-spacing: px;
  transition: 0.3s;
}

p {
  font-family: "Kanit";
  transition: 0.1s;
}

@media screen and (min-width: 768px) {
  .hero h1 { font-size: 5em; }
  .hero h2 { font-size: 3em; }
  .hero h3 { font-size: 2.5em;}
  .hero p { font-size: 1.2em;}
  .hero .border p { padding: 0.75em;}
  }

@media screen and (max-width: 768px) {
  .hero h1 { font-size: 2em; }
  .hero h2 { font-size: 1.75em; }
  .hero h3 { font-size: 1.5em;}
  .hero p { font-size: 0.8em;}
  .hero .border p { padding: 0.7em;}
  }

h1,h2,h3 {
  margin: 0 0 0 0;
}

/* Hero */

.hero {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 2em 0 0 2em;
  color: var(--contrast-text);
}

.hero .border {
  display: flex;
  height: 2em;
  width: 100;
  border: var(--ac2) solid 3px;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0 1.5em 0;
}

.hero .border p{
  background: var(--background);
  border: var(--ac2) solid 3px;
}
